page {
  background: white;
}

#buttons {
  top:    60;
  left:   60;
  width:  200;
  height: 500;
}

#buttons button {
  width: 100%;
}

#buttons button#b1 { top: 0;   }
#buttons button#b2 { top: 50;  }
#buttons button#b3 { top: 100; }
#buttons button#b4 { top: 150; }
#buttons button#b5 { top: 200; }
#buttons button#b6 { top: 250; }
#buttons button#b7 { top: 300; }
#buttons button#b8 { top: 350; }
#buttons button#b9 { top: 400; }
#buttons button#b10 { top: 450; }
