collection {
  width:      100%;
  height:     100%;
  background: white;
}

collection item {
  width:  106px;
  height: 30px;
  margin-bottom: 1px;
}

collection item label {
  width:         100%;
  height:        100%;
  background:    #eee;
  border-radius: 2px;
  text-align:    center;
}
