#search-form {
  top:    70;
  left:   10;
  width:  300;
  height: 100;
}

#search-form input {
  width:  100%;
  height: 30;
}

#search-form button {
  width:  100%;
  height: 30;
  top:    40;
}

#result {
  top:    170;
  left:   10;
  width:  300;
  height: 250;
}
