input {
  left: 10;
  width: 300;
  height: 30;
}

input#i1 {
  top: 55;
}

input#i2 {
  top: 95;
}

input#i3 {
  top: 135;
}
input#i4 {
  top: 175;
}
textarea {
  top:    215;
  left:   10;
  width:  300;
  height: 100;
}

slider {
  left: 10;
  top:  330;
  width: 200;
}

switch {
  left: 250;
  top:  330;
}

progress {
  left: 10;
  top:  400;
  width: 200;
}

spinner {
  left: 350;
  top:  400;
  width: 50;
  height: 50;
}

#select-buttons {
  top:    450;
  width:  100%;
  height: 20;
}
#select-buttons button {
  display: inline;
  margin:  0 10;
}
