input {
  left: 10;
  top:  100;
  width: 300;
  height: 40;
}

textarea {
  left: 10;
  top:  150;
  width: 300;
  height: 100;
}

slider {
  left: 10;
  top:  300;
  width: 200;
}

switch {
  left: 250;
  top:  300;
}

progress {
  left: 10;
  top:  400;
  width: 200;
}

spinner {
  left: 350;
  top:  400;
  width: 50;
  height: 50;
}

#select-buttons {
  top:    450;
  width:  100%;
  height: 20;
}
#select-buttons button {
  display: inline;
  margin:  0 10;
}
