<page title="Calculator">
  <label id="result">0</label>

  <button class="row5 col1 top">C</button>
  <button class="row5 col2 top">±</button>
  <button class="row5 col3 top">%</button>

  <button class="row5 col4 ops">÷</button>
  <button class="row4 col4 ops">×</button>
  <button class="row3 col4 ops">-</button>
  <button class="row2 col4 ops">+</button>
  <button class="row1 col4 ops">=</button>

  <button class="row4 col3">9</button>
  <button class="row4 col2">8</button>
  <button class="row4 col1">7</button>
  <button class="row3 col3">6</button>
  <button class="row3 col2">5</button>
  <button class="row3 col1">4</button>
  <button class="row2 col3">3</button>
  <button class="row2 col2">2</button>
  <button class="row2 col1">1</button>
  <button class="row1 col1 double">0</button>

  <button class="row1 col3">.</button>
</page>
