<page title="Inputs Demo">
  <input id="i1" type="text" placeholder="Plain text" />
  <input id="i2" type="password" placeholder="Password" />
  <input id="i3" type="email" placeholder="your@email.com" />
  <input id="i4" type="phone" placeholder="+0431431431" />

  <textarea>some value</textarea>

  <slider min="0" max="100" value="40" />

  <switch checked="true" />

  <progress value="0.6" />

  <spinner />

  <view id="select-buttons">
    <button id="show-single-select">Single Select</button>
    <button id="show-multi-select" >Multi Select</button>
  </view>

  <select id="single-select">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    <option value="6">Six</option>
    <option value="7">Seven</option>
  </select>

  <select id="multi-select">
    <optgroup>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
    </optgroup>

    <optgroup>
      <option>Sandwitch</option>
      <option>Pizza</option>
      <option>Cola</option>
      <option>Balloon</option>
    </optgroup>
  </select>
</page>
