<page title="Navigation" fullscreen="false">
  <navigation translucent="false" hidden="true">
    <left system="back" />
    <title>Something</title>
    <right system="done" />
  </navigation>

  <view id="buttons">
    <button id="b1" data-icons="edit">Edit Native</button>
    <button id="b2" data-icons="trash">Trash Native</button>
    <button id="b3" data-icons="edit,trash">Edit And Trash</button>
    <button id="b4" data-icons="nothing,custom">Custom Titles</button>
    <button id="b5" data-icons="edit,save,trash" class="icons">UOS Icons</button>
  </view>
</page>
