<page title="Scrolls Demo">

  <scroll id="horizontal">
    <button class="b0">0</button>
    <button class="b1">1</button>
    <button class="b2">2</button>
    <button class="b3">3</button>
    <button class="b4">4</button>
    <button class="b5">5</button>
    <button class="b6">6</button>
    <button class="b7">7</button>
    <button class="b8">8</button>
    <button class="b9">9</button>
  </scroll>

  <scroll id="vertical">
    <button class="b0">0</button>
    <button class="b1">1</button>
    <button class="b2">2</button>
    <button class="b3">3</button>
    <button class="b4">4</button>
    <button class="b5">5</button>
    <button class="b6">6</button>
    <button class="b7">7</button>
    <button class="b8">8</button>
    <button class="b9">9</button>
  </scroll>

  <scroll id="both">
    <button class="b0">0</button>
    <button class="b1">1</button>
    <button class="b2">2</button>
    <button class="b3">3</button>
    <button class="b4">4</button>
    <button class="b5">5</button>
    <button class="b6">6</button>
    <button class="b7">7</button>
    <button class="b8">8</button>
    <button class="b9">9</button>
  </scroll>

</page>
